.settings-mainContent{
    width: 60%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    align-self: center;
    margin-top: -90px;
    height: auto;
    padding: 40px;
}

.settings-channel-name{
    font-size: 30px;
}

.channel-edit-btn {
    cursor: pointer;
  }

.settings-titles{
    font-size: 15px !important;
    color: gray !important;
    font-weight: 400 !important;
    margin-right: 10px;
}

@media only screen and (max-width: 992px) {

    .settings-mainContent{
        width: 90%;   
        padding: 20px;
    }

}