@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;1,500&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pointer{
  cursor: pointer;
}

.content-center{
  display: flex;
  justify-content: center;
}

.content-end{
  display: flex;
  justify-content: end;
}

.f-10{
  font-size: 10px !important;
}

.f-12{
  font-size: 12px !important;
}

.f-15{
  font-size: 15px !important;
}

.f-17{
  font-size: 17px !important;
}

.f-20{
  font-size: 20px !important;
}

.fw-500{
  font-weight: 500 !important;
}

.f-gray{
  color: gray !important;
}
.f-dark-gray{
  color: #2a3427 !important;
}
.f-green{
  color: green !important;
}
.f-red{
  color: rgb(217, 0, 0) !important;
}
.w-10{
  width: 10% !important;
}

.w-20{
  width: 20% !important;
}

.w-40{
  width: 30% !important;
}

.w-40{
  width: 30% !important;
}
.w-50{
  width: 50% !important;
}

.w-60{
  width: 60% !important;
}

.w-70{
  width: 70% !important;
}
.w-80{
  width: 80% !important;
}

.w-90{
  width: 90% !important;
}

.sponsor-txt{
  background: #191919;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
}

.creator-progress{
  position: fixed;
  z-index: 10;
  width: 100%;
}

.top-progress{
  position: fixed;
  top:0;
  z-index: 2000;
  width: 100%;
}

.css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  color: rgb(18 118 12 / 87%) !important;
  background-color: rgb(92 221 159 / 8%) !important;
} 

.pages {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

@media only screen and (max-width: 768px) {
  .pages {
    font-size: 2.5rem;
  }
}