.navlinks{
    color: black !important;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-bottom: 0 !important;
    text-transform: uppercase;
}

.navbar-nav{
    margin-left: 20px;
}

.profileLetter{
    height: 30px;
    width: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    background-color: rgb(93, 0, 136);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.profileText{
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 2px;
}


.dropBtn{
    background-color: rgb(255, 255, 255) !important;
    border: none !important;
    color: black !important;
    margin-top: 8px;
}

.dropBtn:focus{
    background-color: rgb(227, 227, 227) !important;
    box-shadow: none !important;
}

.dropdown-menu{
    left: -125px !important;
}

.console-btn{
    background-color: rgb(10, 116, 40);
    display: flex;
    padding: 5px 0 5px 0;
    border-radius: 5px;
    justify-content: center;
    color: white;
}

.console-link{
    text-decoration: none !important;
}
.console-link .sponsor{
    text-decoration: none !important;
    color: black !important;
}

.header-next{
    display: flex;
    justify-content:center ;
    cursor: pointer;
}

.header-next img{
    border-radius: 5px;
}

.next-txt{
    font-weight: 500;
    font-size: 18px;
    color: #0ba82d;
}

.nav-news-title{
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}

@media only screen and (max-width: 1200px) {
    .header-next img{
        display: none;
    }
}



