.main-section{
    margin-top: 90px;
}

/* News Section */

.view-heading h1{
    width: 90%;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px !important;
}

.hide{
    display: none;
}


.view-details{
    width: 95%;
    font-size: 20px;
    line-height: 35px;
    margin-top: 70px;
}

.view-details pre{
    white-space: pre-wrap;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 0px;
}

.post-action-sec{
    background-color: #e8e8e8;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.left-section{
    align-items: center;
}

.firstPre:first-letter {
    font-size: 40px;
}

.card-scroll{
    overflow:hidden;
    overflow-x:scroll;
}

.card-scroll::-webkit-scrollbar {
    display: none;
}

.comment-section{
    width: 100%;
    background-color: #EAEAEA;
    padding-top: 30px;
    padding-bottom: 30px;
}

.comment-card{
    width: 100%;
    background-color: white;
    border-radius: 8px;
}
.card-head{
    color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}

.card-body{
    margin-left: 30px;
}

.comment-card .line{
    width: 100%;
    height: 1px;
    background-color: rgb(176, 176, 176);
}

.comment-card-body .comment-item{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}



.comment-dp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.comment-name{
    font-size: 18px;
    font-weight: 500;
    color: #005931;
}

.comment-date{
    font-size: 12px;
    margin-top: -2px;
}

.comment-text{
    width: 90%;
    margin-left: 70px;
}

.comment-type{
    height: 55px;
    padding: 5px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 40px;
}
.comment-type input{
    border: none;
    margin-left: 10px;
}

.loading-cat-submit{
    margin-right: 10px !important;
    margin-top: 5px !important;
}


.comment-type input:focus{
    border: none;
    outline: none;
}

.comment-footer{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.no-comments{
    display: flex;
    justify-content: center;
}

.no-comments img{
    height:200px;
}

.no-comment-text{
    font-weight: 500;
    font-size: 25px;
    color: #505050;
}

.no-comment-desc{
    color: #a7a7a7;
}

.comment-login{
    justify-content: center;
    padding-top: 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
}

.comment-login p{
    font-size: 18px;
}

.comment-login-btn{
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    color: #11633e;
}



.comment-btn{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 22px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}


#progressBarContainer {
    position: fixed;
    margin-top: 94px;
    z-index: 10;
    background: rgba(255,255,255,0.05);
    width: 100%;
    top: 0;
    left: 0;
}
  
  
#progressBar {
    background: linear-gradient(to left, rgb(45, 146, 77), rgb(184, 218, 63));
    transform-origin: top left;
    transform: scale(0,0);
    opacity: 1;
}

#progressBarContainer,
#progressBar {
    height: 7px;
}

.channel-detail .channel-name{
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.channel-detail .post-date{
    margin-top: 5px;
}

.single-comment{
    border: 2px solid #e0f4cb;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px
}

.self-comment{
    background-color: #f3f3f3;
    border: none;
    cursor: pointer;
}

.self-comment:hover .delete-comment-btn{
    color: #bb3131;
    border: none;
}

.single-comment .delete-comment-btn{
    color: #b3b8b6;
    margin: 0;
    bottom: auto;
    right: auto;
    top: 150px;
    right: 10px;
}

.comment-delete-holder{
    position: absolute;
    margin: 0;
    top: 20px;
    right: 20px;
    left: auto;
    bottom: auto;
}


@media only screen and (max-width: 768px) {
    .view-details{
        width: 100% !important;
        padding-right: 15px;
        padding-left: 15px;
    }

    .card-body{
        margin-left: 10px;
    }
    .comment-card-body{
        padding: 0;
    }
    .desk-view{
        display: none !important;
    }
    .mobile-only{
        display: block !important;
    }
    .comment-login{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .comment-container{
        padding: 0 !important;
    }
    .comment-footer{
        padding: 13px !important;
    }
    .mob-hide{
        display: none;
    }
}


@media only screen and (max-width: 992px) {
    #progressBarContainer {
        margin-top: 104px;
    }
}


@media only screen and (max-width: 600px) {
    .news-views {
        display: none!important;
    }
    .lang-btn {
        padding: 6px !important;
    }
}